html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
table {
    border-collapse: collapse;
    font-size: smaller;
}
#barcodeTable{
    table-layout: fixed;
    width: 100%;
}
#barcodeTable td {
    max-width: 49%;
}
tr{
    position: relative;
}
td {
    position: relative;
    padding: 4px;
    border: 1px solid gray;
}
td img, td canvas {
    max-width: 90%;
}

.item-color {
    border-style: solid;
    border-width: 4px;
    width: 16px;
    height: 16px;
}

#rawValueList {
    position: fixed;
    left: 0;
    bottom: 0;
}

.rawValue-item {
    font-size: 16px;
}

.rawValue-item > * {
    margin: 2px;
    padding: 2px;
    background-color: white;
    border-radius: 3px;
}

#fps {
    position: fixed;
    right: 0;
    top: 0;
    font-size:24px;
    font-weight: 800;
    color: white;
    text-shadow: 0px 2px 0px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

#capmsg {
    position: fixed;
    left: 0;
    top: 0;
    color: white;
    text-shadow: 0px 2px 0px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}